.card{
    width: -4rem;
    position: relative;
    margin: .5rem;
    transition: all 300ms;
    border-radius: 2rem;
    min-width: 14rem;
    max-width: 14rem;
}

.card:hover{
    box-shadow: .1rem .1rem 1rem -.5rem #ff0000;
}

.card:hover .back{
    margin-top: 0;
    border-radius: 0 0 2rem 2rem;
}

.card:hover .front{
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
}

.card:hover .front > img{
    border-radius: 2rem 2rem 0 0;
}

.front{
    border-radius: 2rem;
    box-shadow: 0 0 0.2rem #ff0000, 0 0 0.1rem #ff0000, 0 0 1rem #ff0000;
    width: 100%;
    height: 10rem;
    padding: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.front > img{
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

.back{
    border-radius: 2rem;
    width: 97%;
    height: 10rem;
    background: radial-gradient(#ff0000, rgba(0, 0, 0, 0));
    padding: .2rem;
    margin-top: -10rem;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
}

.name{
    font-size: 1.2rem;
    font-family: 'Rubik Glitch', cursive;
    text-shadow: 0 0 0.2rem #ff0000, 0 0 0.1rem #ff0000, 0 0 1rem #ff0000;
    height: 2rem;
    margin-top: .5rem;
    display: flex;
    justify-content: center;

}

.genres{
    font-size: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div{
    display: flex;
    justify-content: center;
}

.back > div > button{
    border-radius: 5rem;
    margin-top: .5rem;
    width: 5rem;
    height: 2rem;
    font-family: 'Rubik Glitch';
    background: linear-gradient(#ff0000, rgba(0, 0, 0, 0));
    border: transparent;

    overflow: hidden;
    transition: 300ms;
}

.back > button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: white;
    background-color: #ff0000;
    box-shadow: 0 0 1rem #ff0000, 0 0 4rem #ff0000, 0 0 8rem #ff0000;
}