/*{
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .header{
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.content{
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
} */


/* .header-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video{
  min-width: 100%;
  min-height: 100%;
}

.header-overlay{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #303952;
  z-index: 1;
  opacity: .75;
} */
/* 
.header-content{
  z-index: 2;
}

.header-content h1{
  font-size: 3.1rem;
  margin-bottom: 0;
  font-family: 'Rubik Glitch', cursive;
}
 
.btn{
  text-decoration: none;
  background: #eb4aeb;
  color: black;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  background-color: transparent;

  overflow: hidden;
  transition: 250ms;
}

.btn:hover{
  color: white;
  background-color: #fb42c7;
  box-shadow: 0 0 1rem #fb42c7, 0 0 4rem #fb42c7, 0 0 8rem #fb42c7;
} */

/* @media (max-width: 960px){
  .content{
    padding: 0 3rem;

  }
}  */